<section class="feedback">
    <h2 class="feedback__title">Відгуки Клієнтів</h2>
    <p class="feedback__subtitle">
        Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі
    </p>

    <div class="feedback__list">
        <div class="feedback__card" data-rating="4.6">
            <div class="feedback__rating"></div>
            <p class="feedback__text">

            </p>
            <p class="feedback__author"></p>
        </div>

        <div class="feedback__card" data-rating="4.4">
            <div class="feedback__rating"></div>
            <p class="feedback__text">

            </p>
            <p class="feedback__author"></p>
        </div>

        <div class="feedback__card" data-rating="4.7">
            <div class="feedback__rating"></div>
            <p class="feedback__text">

            </p>
            <p class="feedback__author"></p>
        </div>
    </div>
</section>

<script src="./js/feedback.js"></script>