<section class="modal-contant">
    <div class="img">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <h3 class="modal-contant-title">Софа Oslo</h3>
    <p class="modal-contant-text">Дивани</p>
    <p class="modal-contant-text price">9 999 грн</p>
    <p class="modal-contant-text">Колір</p>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <p class="modal-contant-text">Класичний диван з м'якими подушками та високою спинкою, ідеальний для сімейного відпочинку. Оббивка з якісної зносостійкої тканини.</p>
    <p class="modal-contant-text">Розміри: 280x180x85</p>
    <button type="button">Перейти до замовлення</button>
</section>