/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import 'swiper/css';
@import 'izitoast/dist/css/iziToast.min.css';
@import 'accordion-js/dist/accordion.min.css';
@import 'modern-normalize/modern-normalize.css';

/* Sections style */
@import url('./header.css');
@import url('./footer.css');
